@model ModelClasses.ViewModel.RegisterVM

<div class="d-flex justify-content-center align-items-center vh-100"style="background-image:url('/Images/register.jpg'); background-size:cover; background-repeat: no-repeat;background-attachment: fixed;background-position:center;">
	<div class="row p-5">
		<h3 class="text-dark fw-bold text-center"><strong>Register</strong></h3>
		<div class="col-12 border-2 border-success"style="border:solid">
			<form asp-action="Register" asp-controller="Account"method="post">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="row p-2">
					<div class="col-lg-4 col-md-4 col-sm-12">
						<strong><label asp-for="applicationUser.FirstName"></label></strong>
					</div>
					<div class="col-lg-8 col-md-8 col-sm-12">
						<input asp-for="applicationUser.FirstName" class="form-control"/>
						<span asp-validation-for="applicationUser.FirstName"class="text-danger"></span>
					</div>
				</div>
				<div class="row p-2">
					<div class="col-lg-4 col-md-4 col-sm-12">
						<strong><label asp-for="applicationUser.LastName"></label></strong>
					</div>
					<div class="col-lg-8 col-md-8 col-sm-12">
						<input asp-for="applicationUser.LastName" class="form-control"/>
						<span asp-validation-for="applicationUser.LastName" class="text-danger"></span>
					</div>
				</div>

				<div class="row p-2">
					<div class="col-lg-4 col-md-4 col-sm-12">
						<strong><label asp-for="UserName"></label></strong>
					</div>
					<div class="col-lg-8 col-md-8 col-sm-12">
						<input asp-for="UserName" class="form-control"/>
						<span asp-validation-for="UserName" class="text-danger"></span>
					</div>
				</div>
				
				<div class="row p-2">
					<div class="col-lg-4 col-md-4 col-sm-12">
						<strong><label asp-for="Email"></label></strong>
					</div>
					<div class="col-lg-8 col-md-8 col-sm-12">
						<input asp-for="Email" class="form-control"/>
						<span asp-validation-for="Email" class="text-danger"></span>
					</div>
				</div>

				<div class="row p-2">
					<div class="col-lg-4 col-md-4 col-sm-12">
						<strong><label asp-for="applicationUser.Address"></label></strong>
					</div>
					<div class="col-lg-8 col-md-8 col-sm-12">
						<input asp-for="applicationUser.Address" class="form-control"/>
						<span asp-validation-for="applicationUser.Address" class="text-danger"></span>
					</div>
				</div>

				<div class="row p-2">
					<div class="col-lg-4 col-md-4 col-sm-12">
						<strong><label asp-for="applicationUser.State"></label></strong>
					</div>
					<div class="col-lg-8 col-md-8 col-sm-12">
						<input asp-for="applicationUser.State" class="form-control"/>
						<span asp-validation-for="applicationUser.State" class="text-danger"></span>
					</div>
				</div>

				<div class="row p-2">
					<div class="col-lg-4 col-md-4 col-sm-12">
						<strong><label asp-for="Password">Password</label></strong>
					</div>
					<div class="col-lg-8 col-md-8 col-sm-12">
						<input asp-for="Password" class="form-control"placeholder="ex-12PD# not more than 8"/>
						<span asp-validation-for="Password" class="text-danger"></span>
					</div>
				</div>

				<div class="row p-2">
					<div class="col-lg-4 col-md-4 col-sm-12">
						<strong><label asp-for="ConfirmPassword">ConfirmPassword</label></strong>
					</div>
					<div class="col-lg-8 col-md-8 col-sm-12">
						<input asp-for="ConfirmPassword" class="form-control"placeholder="Use the same pass"/>
						<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
					</div>
				</div>
				<div class="p-2">
					<button type="submit" class="btn btn-light btn-outline-danger form-control">Submit</button>
				</div>
			</form>
		</div>	
	</div>
</div>

@section Scripts{
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}